/* styles.css */


body {
    font-family: Arial, sans-serif;
    background-color: #18b492;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    display: flex;      
    justify-content: center; 
    align-items: center; 
    padding: 10px 0;    
}

.nav-item {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 5px;       /* Add some horizontal spacing between links */
}




.nav-item:hover {
    background-color: #ddd;
    color: black;
}

.workout-doodle {
    max-width: 100%;
    height: auto;
}

.animated-title {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#workouts {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
}

.workout-doodle {
    display: block;
    margin: 0 auto;
    width: 200px;
}
.workout-card {
    border: 1px solid #ddd;           /* Adds a light border around the card */
    padding: 20px;                    /* Adds space inside the card between content and the border */
    margin: 20px 0;                   /* Adds space outside the card between it and other elements */
    border-radius: 10px;              /* Rounds the corners of the card */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  /* Adds a subtle shadow around the card */
    background-color: #d8ccda;           /* Ensures the background color is white */
}
.workout-link {
    text-decoration: none;
    color: #18b492;                   /* A color similar to the background for consistency */
    font-size: 1.5em;                 /* Make the workout type link slightly larger */
}

.workout-link:hover {
    text-decoration: underline;
}
.workout-card:hover {
    transform: translateY(-10px);     /* Adds a subtle lift effect on hover */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);  /* Slightly intensifies the shadow on hover */
}
